<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/login.css">
    
</head>
<body>
    <div class="topline">
        <div class="top_logo">
            <a href="/"><img src="/img/LOGO.png" alt=""></a>
        </div>
    </div>
    <div class="login_wrap">
        <div class="panel_inner">
            <div class="line">
                <h3 class="login_text">lOGIN</h3>
            </div>
            
            <div class="input_box">
                <form method="POST" th:action th:object="${loginForm}">
                <p>아이디</p><input type="text" name="id" id="id" th:field="*{loginId}">
                <p>비밀번호</p><input type="password" name="pw" id="pw" th:field="*{password}">
                    <button class="loginBtn" >로그인</button>
                </form>
            </div>
            <ul class="find_wrap">
                <li><a href="#">회원가입</a></li>
                <li><a href="#">아이디찾기/비밀번호찾기</a></li>
            </ul>
        </div>
    </div>
</body>
</html>